<!--* ================ G L O B A L  F O R M  F I E L D  ================ -->
<div class="mb-3" *ngIf="control">
    <!--* ================ L A B E L  ================ -->
    <label [for]="inputId" class="form-label text-capitalize fw-bold" *ngIf="label && label.length">
        {{label| translate}}
        <span *ngIf="required" class="text-danger">*</span>
    </label>

    <!--* ================ I N P U T  ================ -->
    <input class="form-control" [type]="type" [id]="inputId" [placeholder]="placeholder | translate"
        [formControl]="control" [min]="type === 'number' ? minValue : null" [max]="type === 'number' ? maxValue : null">

    <!--* ================ E R R O R S ================ -->
    <ng-container *ngIf="control.touched">
        <!--* ================ R E Q U I R E D   E R R O R ================ -->
        <p class="text-danger mt-1 fw-bold text-capitalize"
            *ngIf="required && checkFormControlError(control, 'required') ">
            {{ 'required_error' | translate:{ label: label | translate } }}
        </p>

        <!--* ================ E M A I L   E R R O R ================ -->
        <p class="text-danger mt-1 fw-bold text-capitalize"
            *ngIf="type=='email' && checkFormControlError(control, 'email')">
            {{ 'email_error' | translate:{ label: label | translate } }}
        </p>

        <!--* ================ P A T T E R N   E R R O R ================ -->
        <p class="text-danger mt-1 fw-bold text-capitalize"
            *ngIf="patternValidator && checkFormControlError(control, 'pattern')">
            {{ 'pattern_error' | translate:{ label: label | translate } }}
        </p>

        <!--* ================ M I N  L E N G T H   E R R O R ================ -->
        <p class="text-danger mt-1 fw-bold text-capitalize"
            *ngIf="minLength > 0 && checkFormControlError(control, 'minlength')">
            {{ 'minLength_error' | translate:{ label: label | translate, minLength: minLength } }}
        </p>

    </ng-container>
</div>