<div class="select-checkboxes-multi-input mb-3" *ngIf="control">
    <label for="select-checkboxes-multi-input" class="mb-2">
        {{label|translate}}
        <span *ngIf="required" class="text-danger">*</span>
    </label>

    <ng-select [items]="items" [multiple]="true" [bindLabel]="bindLabel" groupBy="groupName" [selectableGroup]="true"
        [selectableGroupAsModel]="false" [closeOnSelect]="false" [bindValue]="bindValue" [formControl]="control"
        [labelForId]="'select-checkboxes-multi-input'"
        (change)="selectedItemsChange.emit($event && $event.id ?($event.id):null)">
        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.groupName | uppercase }}
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.name }}
        </ng-template>
    </ng-select>


    <p class="text-danger mt-1 fw-bold text-capitalize" *ngIf="control.touched && control.hasError('required')">
        {{ 'required_error' | translate:{ label: label | translate } }}
    </p>
</div>