{
  "openapi": "3.0.1",
  "info": {
    "title": "Settings API",
    "version": "v1"
  },
  "servers": [
    {
      "url": "http://api.marod.net"
    }
  ],
  "paths": {
    "/api/Contacts/CreateOrUpdate": {
      "put": {
        "tags": ["Contacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/Delete": {
      "delete": {
        "tags": ["Contacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/Get": {
      "get": {
        "tags": ["Contacts"],
        "parameters": [
          {
            "name": "LanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Contacts/GetAllContactsTranslations": {
      "post": {
        "tags": ["Contacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactTranslationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactTranslationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactTranslationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactTranslationsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactTranslationsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactTranslationsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cookies/CreateOrUpdate": {
      "put": {
        "tags": ["Cookies"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCookiesCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCookiesCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCookiesCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCookiesCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCookiesCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCookiesCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cookies/Delete": {
      "delete": {
        "tags": ["Cookies"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCookiesCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCookiesCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCookiesCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCookiesCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCookiesCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCookiesCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cookies/Get": {
      "get": {
        "tags": ["Cookies"],
        "parameters": [
          {
            "name": "LanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCookiesQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCookiesQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCookiesQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Cookies/GetAllCookiesTranslations": {
      "post": {
        "tags": ["Cookies"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCookiesTranslationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCookiesTranslationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCookiesTranslationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCookiesTranslationsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCookiesTranslationsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCookiesTranslationsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Copyrights/CreateOrUpdate": {
      "put": {
        "tags": ["Copyrights"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCopyrightsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCopyrightsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCopyrightsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCopyrightsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCopyrightsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCopyrightsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Copyrights/Delete": {
      "delete": {
        "tags": ["Copyrights"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCopyRightsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCopyRightsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCopyRightsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCopyrightsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCopyrightsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCopyrightsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Copyrights/Get": {
      "get": {
        "tags": ["Copyrights"],
        "parameters": [
          {
            "name": "LanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetCopyrightsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCopyrightsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCopyrightsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Copyrights/GetAllCopyrightsTranslations": {
      "post": {
        "tags": ["Copyrights"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllCopyrightsTranslationsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/MarodContacts/Create": {
      "post": {
        "tags": ["MarodContacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/MarodContacts/GetById": {
      "post": {
        "tags": ["MarodContacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactByIdQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactByIdQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactByIdQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/MarodContacts/GetAll": {
      "post": {
        "tags": ["MarodContacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllContactsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllContactsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/MarodContacts/Delete": {
      "delete": {
        "tags": ["MarodContacts"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContactCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContactCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/CreateOrUpdate": {
      "put": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrivacyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrivacyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePrivacyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrivacyCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrivacyCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePrivacyCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/Delete": {
      "delete": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivacyCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivacyCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivacyCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrivacyCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrivacyCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePrivacyCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/Get": {
      "get": {
        "tags": ["Privacy"],
        "parameters": [
          {
            "name": "LanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivacyQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivacyQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivacyQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/CreateOrUpdateTermsAndConditions": {
      "put": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTermsAndConditionsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTermsAndConditionsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTermsAndConditionsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTermsAndConditionsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTermsAndConditionsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTermsAndConditionsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/DeleteTermsAndConditions": {
      "delete": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTermsAndConditionsCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTermsAndConditionsCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteTermsAndConditionsCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTermsAndConditionsCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTermsAndConditionsCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteTermsAndConditionsCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/GetTermsAndConditions": {
      "get": {
        "tags": ["Privacy"],
        "parameters": [
          {
            "name": "LanguageCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermsAndConditionsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermsAndConditionsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermsAndConditionsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/GetAllTermsAndConditionsTranslations": {
      "post": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllTermsAndConditionsTranslationsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/Privacy/GetPrivacyTranslations": {
      "post": {
        "tags": ["Privacy"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllPrivacyTranslationsQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllPrivacyTranslationsQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllPrivacyTranslationsQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllPrivacyTranslationsQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllPrivacyTranslationsQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllPrivacyTranslationsQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/Create": {
      "post": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShippingAddressCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShippingAddressCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateShippingAddressCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShippingAddressCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShippingAddressCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateShippingAddressCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/Update": {
      "put": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShippingAddressCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShippingAddressCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateShippingAddressCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShippingAddressCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShippingAddressCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateShippingAddressCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/SetDefaultShippingAddress": {
      "put": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultShippingAddressCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultShippingAddressCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/SetDefaultShippingAddressCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/SetDefaultShippingAddressCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDefaultShippingAddressCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetDefaultShippingAddressCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/GetById": {
      "post": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShippingAddressByIdQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetShippingAddressByIdQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetShippingAddressByIdQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetShippingAddressByIdQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShippingAddressByIdQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShippingAddressByIdQueryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/Delete": {
      "delete": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShippingAddressCommand"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShippingAddressCommand"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteShippingAddressCommand"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteShippingAddressCommandResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteShippingAddressCommandResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteShippingAddressCommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/ShippingAddresses/GetAll": {
      "post": {
        "tags": ["ShippingAddresses"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllShippingAddressesQuery"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllShippingAddressesQuery"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllShippingAddressesQuery"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllShippingAddressesQueryResult"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllShippingAddressesQueryResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllShippingAddressesQueryResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContactTranslationsVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "contact": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          }
        },
        "additionalProperties": false
      },
      "ContactTranslationsVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactTranslationsVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "ContactsVM": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CookiesTranslationsVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "cookies": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          }
        },
        "additionalProperties": false
      },
      "CookiesTranslationsVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CookiesTranslationsVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CookiesVM": {
        "type": "object",
        "properties": {
          "cookies": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CopyrightsTranslationsVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "copyrights": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          }
        },
        "additionalProperties": false
      },
      "CopyrightsTranslationsVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CopyrightsTranslationsVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "CopyrightsVM": {
        "type": "object",
        "properties": {
          "copyrights": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateContactCommand": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateContactCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "contactId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "CreateShippingAddressCommand": {
        "type": "object",
        "properties": {
          "districtId": {
            "type": "string",
            "format": "uuid"
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "nationalIdNumber": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "userId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateShippingAddressCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "shippingAddressId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "CreatedByVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteContactCommand": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "DeleteContactCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteContactsCommand": {
        "type": "object",
        "additionalProperties": false
      },
      "DeleteContactsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteCookiesCommand": {
        "type": "object",
        "additionalProperties": false
      },
      "DeleteCookiesCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteCopyRightsCommand": {
        "type": "object",
        "additionalProperties": false
      },
      "DeleteCopyrightsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeletePrivacyCommand": {
        "type": "object",
        "additionalProperties": false
      },
      "DeletePrivacyCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteShippingAddressCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "DeleteShippingAddressCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "DeleteTermsAndConditionsCommand": {
        "type": "object",
        "additionalProperties": false
      },
      "DeleteTermsAndConditionsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ErrorCode": {
        "enum": [
          "Error",
          "FieldRequired",
          "MaxFieldLength",
          "MinFieldLength",
          "UserNotFound",
          "InvalidLogin",
          "DuplicateUser",
          "DuplicateEmail",
          "DuplicateName",
          "DuplicateCRN",
          "DuplicatePhoneNumber",
          "NotFound",
          "UserAlreadyLoggedIn",
          "InvalidEmailAddress",
          "InvalidPhoneNumber",
          "InvalidUsername",
          "Expired",
          "InvalidCRN",
          "InvalidPasswordRequirements",
          "DuplicateIdNumber",
          "InvalidStartDate",
          "InvalidEndDate",
          "InvalidDate",
          "DuplicateCode",
          "ParentNotFound",
          "ProjectNotFound",
          "CantLockAdmin",
          "CantLockYourself",
          "CantDelete",
          "CompanyTypeNotEqualsProjectType",
          "ExceedValue",
          "CategoryNotFound",
          "FileNotFound",
          "BadFile",
          "AccessDenied",
          "LastValueIsBiggerThanCurrentValue",
          "QuantityCantBeLessThanZero",
          "NotEnoughItems",
          "OrderCantBeUpdated",
          "OrderNotApproved",
          "OrderCantBeDeleted",
          "UnitNotFound",
          "QuantityAlreadyExist",
          "ProjectStateIsLaunched",
          "QuantityAlreadyReserved",
          "ItemAlreadyExists",
          "Duplicate",
          "CantAddFinancialSummary",
          "FinancialSummaryTypeMustBeFinal",
          "InvalidUrl",
          "AppartmentFloorLessThanBuildingFloorCount",
          "CantAddAsParent",
          "InvalidPercentage",
          "RateMustBe5OrLess",
          "QuantityMustBeGreaterThanZero",
          "CantAddProduct",
          "CompleteYourBillingInfo",
          "CantAddAsChild"
        ],
        "type": "string"
      },
      "FilterOperator": {
        "enum": ["And", "Or"],
        "type": "string"
      },
      "FilterType": {
        "enum": [
          "Equals",
          "NotEquals",
          "Range",
          "Contains",
          "LessThan",
          "LessThanOrEqual",
          "GreaterThan",
          "GreaterThanOrEqual"
        ],
        "type": "string"
      },
      "FilteredQuery": {
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string",
            "nullable": true
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "type": {
            "$ref": "#/components/schemas/FilterType"
          },
          "operator": {
            "$ref": "#/components/schemas/FilterOperator"
          }
        },
        "additionalProperties": false
      },
      "GetAllContactTranslationsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllContactTranslationsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "translations": {
            "$ref": "#/components/schemas/ContactTranslationsVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetAllContactsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllContactsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "contacts": {
            "$ref": "#/components/schemas/MarodContactVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetAllCookiesTranslationsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllCookiesTranslationsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "translations": {
            "$ref": "#/components/schemas/CookiesTranslationsVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetAllCopyrightsTranslationsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllCopyrightsTranslationsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "translations": {
            "$ref": "#/components/schemas/CopyrightsTranslationsVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetAllPrivacyTranslationsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllPrivacyTranslationsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "translations": {
            "$ref": "#/components/schemas/PrivacyTranslationsVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetAllShippingAddressesQuery": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllShippingAddressesQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "shippingAddresses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShippingAddressDto"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllTermsAndConditionsTranslationsQuery": {
        "type": "object",
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilteredQuery"
            },
            "nullable": true
          },
          "sorts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortedQuery"
            },
            "nullable": true
          },
          "searchTerm": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "GetAllTermsAndConditionsTranslationsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "translations": {
            "$ref": "#/components/schemas/TermsAndConditionsTranslationsVMBasePaginatedList"
          }
        },
        "additionalProperties": false
      },
      "GetContactByIdQuery": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "GetContactByIdQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "contact": {
            "$ref": "#/components/schemas/MarodContactVM"
          }
        },
        "additionalProperties": false
      },
      "GetContactsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "contacts": {
            "$ref": "#/components/schemas/ContactsVM"
          }
        },
        "additionalProperties": false
      },
      "GetCookiesQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "cookies": {
            "$ref": "#/components/schemas/CookiesVM"
          }
        },
        "additionalProperties": false
      },
      "GetCopyrightsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "copyrights": {
            "$ref": "#/components/schemas/CopyrightsVM"
          }
        },
        "additionalProperties": false
      },
      "GetPrivacyQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "privacy": {
            "$ref": "#/components/schemas/PrivacyVM"
          }
        },
        "additionalProperties": false
      },
      "GetShippingAddressByIdQuery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "GetShippingAddressByIdQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "shippingAddress": {
            "$ref": "#/components/schemas/ShippingAddressDto"
          }
        },
        "additionalProperties": false
      },
      "GetTermsAndConditionsQueryResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "termsAndConditions": {
            "$ref": "#/components/schemas/TermsAndConditionsVM"
          }
        },
        "additionalProperties": false
      },
      "MarodContactVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phoneNumber": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MarodContactVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MarodContactVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PrivacyTranslationsVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "content": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          }
        },
        "additionalProperties": false
      },
      "PrivacyTranslationsVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PrivacyTranslationsVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "PrivacyVM": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "Roles": {
        "type": "object",
        "properties": {
          "USER": {
            "type": "string",
            "description": "User"
          },
          "USERPRO": {
            "type": "string",
            "description": "UserPro"
          },
          "COMPANY": {
            "type": "string",
            "description": "Company"
          }
        }
      },
      "SetDefaultShippingAddressCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "SetDefaultShippingAddressCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ShippingAddressDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "nationalIdNumber": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "district": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "cityId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "countryId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "districtId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "isDefault": {
            "type": "boolean"
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          }
        },
        "additionalProperties": false
      },
      "SortDirection": {
        "enum": ["ASC", "DESC"],
        "type": "string"
      },
      "SortedQuery": {
        "type": "object",
        "properties": {
          "propertyName": {
            "type": "string",
            "nullable": true
          },
          "direction": {
            "$ref": "#/components/schemas/SortDirection"
          }
        },
        "additionalProperties": false
      },
      "TermsAndConditionsTranslationsVM": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time"
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "modifiedBy": {
            "$ref": "#/components/schemas/CreatedByVM"
          },
          "conditions": {
            "type": "string",
            "nullable": true
          },
          "terms": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "TermsAndConditionsTranslationsVMBasePaginatedList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TermsAndConditionsTranslationsVM"
            },
            "nullable": true
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "totalCount": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "hasPreviousPage": {
            "type": "boolean",
            "readOnly": true
          },
          "hasNextPage": {
            "type": "boolean",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "TermsAndConditionsVM": {
        "type": "object",
        "properties": {
          "terms": {
            "type": "string",
            "nullable": true
          },
          "conditions": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateContactsCommand": {
        "type": "object",
        "properties": {
          "contacts": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateContactsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateCookiesCommand": {
        "type": "object",
        "properties": {
          "cookies": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateCookiesCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateCopyrightsCommand": {
        "type": "object",
        "properties": {
          "copyrights": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateCopyrightsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdatePrivacyCommand": {
        "type": "object",
        "properties": {
          "content": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdatePrivacyCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateShippingAddressCommand": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "districtId": {
            "type": "string",
            "format": "uuid"
          },
          "street": {
            "type": "string",
            "nullable": true
          },
          "addressLine1": {
            "type": "string",
            "nullable": true
          },
          "addressLine2": {
            "type": "string",
            "nullable": true
          },
          "zip": {
            "type": "string",
            "nullable": true
          },
          "nationalIdNumber": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "format": "double"
          },
          "longitude": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "UpdateShippingAddressCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateTermsAndConditionsCommand": {
        "type": "object",
        "properties": {
          "conditions": {
            "type": "string",
            "nullable": true
          },
          "terms": {
            "type": "string",
            "nullable": true
          },
          "languageCode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UpdateTermsAndConditionsCommandResult": {
        "type": "object",
        "properties": {
          "isSuccess": {
            "type": "boolean"
          },
          "errorCode": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "apiKey",
        "description": "JWT Authorization header using the Bearer scheme. \r\n\r\n Enter 'Bearer' [space] and then your token in the text input below.\r\n\r\nExample: \"Bearer 1safsfsdfdfd\"",
        "name": "Authorization",
        "in": "header"
      }
    }
  },
  "security": [
    {
      "Bearer": [""]
    }
  ]
}
